<?xml version="1.0" encoding="utf-8"?>
<!--
    Este arquivo Android Manifest define as configurações essenciais para o aplicativo eMixer,
    desenvolvido no CURSO DE DESENVOLVIMENTO DE SISTEMAS EMBARCADOS - ANDROID.

    O eMixer é um aplicativo Android nativo que permite a configuração e gerenciamento de perfis de
    equalização de áudio automotivo. Com ele, os usuários podem criar, salvar e recuperar
    configurações personalizadas de equalização, ajustando graves, médios, agudos,
    balanceamento e volume geral, proporcionando uma experiência auditiva aprimorada no veículo.
    A interface intuitiva do aplicativo facilita a personalização do som, atendendo à demanda
    por soluções de áudio mais flexíveis e personalizadas.

    Este trabalho é uma colaboração dos autores:
    Alisson Freitas, Eduardo Perez Uanús, João Gabriel A. Gomes Alves, e Rayanne da Silva Andrade.

    Data de criação: 25 de Dezembro de 2024.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permission to record audio.
         Required for capturing audio input from the microphone on devices below API level 33. -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- Permission to modify audio settings.
         Automatically granted at install time, no runtime request needed.
         Allows the app to modify global audio settings, e.g., equalizer. -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!-- Permission to read media audio.
         Required for accessing audio files on devices with API level 33 and above. -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <!-- O elemento <application> contém atributos que definem as configurações da aplicação -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MVVMApp"
        tools:targetApi="31">

        <activity
            android:name="com.example.emixerapp.MainActivity"
            android:exported="true">
            <!-- O elemento <activity> define uma atividade da aplicação -->
            <!-- name - Nome da classe da atividade principal -->
            <!-- exported - Permite que a atividade seja acessada por outras aplicações -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>