<?xml version="1.0" encoding="utf-8"?>
<!--
    Este arquivo Android Manifest define as configurações essenciais para o aplicativo eMixer,
    desenvolvido no CURSO DE DESENVOLVIMENTO DE SISTEMAS EMBARCADOS - ANDROID.

    O eMixer é um aplicativo Android nativo que permite a configuração e gerenciamento de perfis de
    equalização de áudio automotivo. Com ele, os usuários podem criar, salvar e recuperar
    configurações personalizadas de equalização, ajustando graves, médios, agudos,
    balanceamento e volume geral, proporcionando uma experiência auditiva aprimorada no veículo.
    A interface intuitiva do aplicativo facilita a personalização do som, atendendo à demanda
    por soluções de áudio mais flexíveis e personalizadas.

    Este trabalho é uma colaboração dos autores:
    Alisson Freitas, Eduardo Perez Uanús, João Gabriel A. Gomes Alves, e Rayanne da Silva Andrade.

    Data de criação: 25 de Dezembro de 2024.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissão para gravar áudio.
         Necessária para capturar entrada de áudio do microfone em dispositivos com nível de API menor que 33. -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- Permissão para modificar as configurações de áudio.
         Concedida automaticamente no momento da instalação, não requer solicitação em tempo de execução (runtime).
         Permite que o aplicativo modifique as configurações de áudio globais, por exemplo, o equalizador. -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- Permissão para ler áudio de mídia.
         Necessária para acessar arquivos de áudio em dispositivos com nível de API 33 e superior. -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <!-- O elemento <application> contém atributos que definem as configurações da aplicação -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MVVMApp"
        tools:targetApi="31">

        <activity
            android:name="com.example.emixerapp.MainActivity"
            android:exported="true">
            <!-- Define a atividade principal do aplicativo. -->
            <!-- android:name: Especifica o nome completo da classe da atividade.  -->
            <!--             'com.example.emixerapp.MainActivity' é o caminho completo da classe. -->
            <!-- android:exported: Indica se a atividade pode ser iniciada por componentes de outros aplicativos. -->
            <!--             'true' permite que outras aplicações iniciem esta atividade.  -->
            <!--             Considere 'false' por segurança se a atividade não precisar ser acessível externamente. -->
            <intent-filter>
                <!-- Este filtro de intenção declara como esta atividade pode ser iniciada. -->
                <action android:name="android.intent.action.MAIN" />
                <!-- android.intent.action.MAIN: Indica que esta atividade é o ponto de entrada principal do aplicativo. -->
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- android.intent.category.LAUNCHER:  Indica que esta atividade deve aparecer no lançador de aplicativos. -->
            </intent-filter>
        </activity>
    </application>

</manifest>